.chessboard {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
}

.board-col {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.dark {
  background-color: #286d00; /* Dark square color */
}

.light {
  background-color: #9affa1; /* Light square color */
}

.piece {
  font-size: 50px;
}

.black {
  color: #000000; /* Black piece color */
}

.white {
  color: #ffffff; /* White piece color */
}
